@font-face {
    font-family: vibes;
    src: url('./vibes.ttf');
}

html {
    font-family: vibes;
    background-color: #181a1b;
    color: white;
    min-height: 100vh;
}

body {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-bar {
    background-color: #515E63;
    text-align: center;
}

.top-bar h1 {
    font-size: 55px;
}

.container {
/*     min-height: inherit;
 */    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #515E63;
    border-radius: 5px;
    height: 400px;
    width: 350px;
    padding: 10px;
}

.book-card h1 {
    color: #F5E8C7;
    font-size: 40px;
    font-weight: bold;
}

.book-card p {
    font-size: 30px;
}

.read-button {
    width: 230px;
    height: 60px;
    border: none;
    background-color: transparent;
    color: #C1CFC0;
    cursor: pointer;
    font-family: vibes;
    font-size: 25px
}

.not-read-button {
    width: 270px;
    height: 60px;
    border: none;
    background-color: transparent;
    color: #BD4B4B;
    cursor: pointer;
    font-family: vibes;
    font-size: 25px
}

.delete-button {
    width: 40px;
    height: 40px;
    border: none;
    background: url('./delete.png') no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.add-book-button {
    height: 64px;
    width: 64px;
    background-image: url("add.png");
    background-position: center;
    background-size: cover;
    background-color: #515E63;
    border: none;
    cursor: pointer;
}

#bookForm {
    display: none;
    position: fixed;
    width: 320px;
    height: 300px;
    padding-top: 50px;
    font-size: 25px;
    bottom: 0;
    right: 10px;
    border: 3px solid #beb9b9;
    background-color: white;
    text-align: center;
}

#cancelFormButton {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

#newTitle, #newAuthor, #newPages, #newRead {
    font-size: 16px;
    background-color: #e9e6e6;
    border: 1px solid #beb9b9
}

#submitButton {
    height: 30px;
    width: 70px;
    margin-left: 0px;
    border-radius: 5px;
    background-color: #e9e6e6;
    text-align: center;
    font-size: 15px;
    border: 1px solid black;
}

#submitButton:hover {
    background-color: #beb9b9;
}
